@import 'tailwindcss';

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-family: 'Instrument Serif', sans-serif;
}

@theme {
  --color-Cosmic-Black: #0a0d0f;
  --color-WhiteChalk: #f6f4f1;
  --color-TomatoCurry: #e84a2e;
  --color-PrairieLand: #e2cc9c;
  --color-CelestialCanvas: #0a2538;
  --color-SilverHaze: #e2e4e7;
}
